{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{% if ( attributes.id=='edit-submit-actus-page-actus' or attributes.id=='edit-submit-page-agenda' or attributes.id=='edit-submit-annuaire' or (attributes.id=='edit-submit' and attributes.value=='Rechercher') ) %}
    <button type="submit" id="edit-submit-btn" name="op" class="form-submit"><i class="glyphicon glyphicon-search"></i></button>
{% else %}
    <input{{ attributes }} />{{ children }}
{% endif %}
